body{
  background: url('Image/background.png') no-repeat top center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid red;
}
#createEmployeeWindow{
    display: none;
}
