body {
    font-family: 'Muli', sans-serif;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

#profileDisplay, #profilePic {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width:200px; 
    height:200px;
    border-style: solid;
    border-radius: 50%;
    border-color: #172D5C;
}

input[type=submit] {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
