/* Edit window */
#editWindow{
}

#editWindow>Label{
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.editWindowFrame{
    width: 100%;
    text-align: center;
}
.leftEditWindowFrame{
    text-align: right;
}
.rightEditWindowFrame{
    text-align: left;
    padding-left: 10px; 
}
.dateContainer{
    width: 10em;
    /* background-color: rgb(210, 210, 210); */
    text-align: center;
}
.weekContainer{
    width: 3em;
    /* background-color: rgb(210, 210, 210); */
    text-align: center;
}
#enableRepeatButton{
    width: 60%;
    text-align: center;
}

/* Add Zoom Animation */
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  
  /* </style> */