/* Request Window */
#requestWindow{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left:35%;
    top: 45%;
    width: 30%;
    height: 20%;
    min-width: 200px;
    min-height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    /*background-color: rgb(255, 255, 255);*/
    border-collapse: collapse;
}
#requestWindow>table{
    width: 100%;
}
.backG{
  background-color: white;
}
