/* TimeSelector */
.timeSelector{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#timeSelectorMonthAndYear{
    /*width: 180px;*/
    text-align: center;
}
#timeSelectorMonth{
    margin-left: 10px;
    margin-right: 5px;
}
#timeSelectorYear{
    flex-grow: -1;
    flex-shrink: -1;
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
    width: 5em;
}
.timeSelectorbutton{
    height: 1.5em;
    display: flex;
}