/*TimeTable*/

/* TimeTable_block */
table.timeTable{
    width: 100%;
    margin-top: 8px;
    position: relative;
    background-color: white;
    border: 1.5px;
    border-style: solid;
    border-color: #B0B0B0;
    border-collapse: collapse;
}
.weekDayBlockRow{
    font-size: 12px;
    background-color: #E0E0E0;
}
.weekDayBlockRow>td{
    width: 14.3%;
    border: 1px;
    border-style: solid;
    /* border-color:rgb(100, 100, 100); */
    border-color: #D0D0D0;
    border-collapse: collapse;
}
.normalDayBlockRow{
    font-size: 13px;
    height: 13px;
}



/* TimeTableBlocks */
.blockedTimeTableBlock{
    padding: 0;
    margin: 0;
    color: rgb(163, 163, 163);
    border: 1px;
    border-style: solid;
    border-color: #D0D0D0;
    border-collapse: collapse;
}
.passedTableBlock{
    padding: 0;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-color: #D0D0D0;
    border-collapse: collapse;
}
.emptyTimeTableBlock{
    padding: 0;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-color: #D0D0D0;
    border-collapse: collapse;
}



/* Job blocks */
.JobBlock{
    width: 100%;
    height: 1.3em;
    border: 1px;
    color: white;
    font-size: 13px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-color: #B0B0B0;
    border-width: 1px;
    border-collapse: collapse;
}
.PrimaryEngineerJobBlock{
    width: 100%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8d7da /*rgb(160, 0, 0)*/;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}
.SecondaryEngineerJobBlock{
    width: 100%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cce5ff/*rgb(0, 0, 160)*/;
    color: #004085;
    border: 1px solid #b8daff;
    border-radius: 4px;
}
.EscalationManagerJobBlock{
    width: 100%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff3cd/*rgb(220, 100, 0)*/;
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 4px;
}
.emptyJobBlock{
    width: 100%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
}