#reportEditionWindow{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#reportEditionTable{
    width: 20em;
    height: 10em;
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#reportEditionTable>thead{
    font-size: 1.4em;
}

#reportEditionTable>tbody>tr{
    height: 1.5em;
}