/* AdminInterface.html */
#employeeCategory{
    position: relative;
    background-color: rgb(120, 202, 216);
    margin-top: 1%;
    margin-left: 1%;
    height: 94%;
    width: 20%;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
#employeeCategory_frame{
    width: 100%;
}
#employeeCategory_frame>ul{
    padding-left: 14%;
}
#employeeCategory_frame>ul>li{
    list-style: none;
    font-size: medium;
    width: 100%;
}
#employeeCategory_frame>ul>li>ul{
    padding-left: 14%;
    display: none;
}
#employeeCategory_frame>ul>li>ul>li{
    list-style: none;
    font-size: small;
}