body {
    font-family: 'Muli', sans-serif;
    text-align: center;
}

p {
    text-align: center;
}

#profilePicture {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width:200px; 
    height:200px;
    border-style: solid;
    border-radius: 50%;
    border-color: #172D5C;
}

#previous, #next, input[submit] {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
}

.triangles {
   text-align: center;
}

/* .employeeInfo {
    border-style: solid;
    border-color: #172D5C;
    padding: 2px;
    width: 25%;
    margin: auto;
} */