body {
    font-family: 'Muli', sans-serif;
    text-align: center;
}

/* The profile picture preview image */
#profilePicture {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width:200px; 
    height:200px;
    border-style: solid;
    border-radius: 50%;
}

input[type=submit], #browse {
    background-color: #172D5C;
    border: none;
    color: #fff;
    outline: none;
    font-size: 12px;
}

/* The 'Upload Image' button */
input[type=submit]{
    padding: 5px; 
    border-radius: 30px;
    margin-left: 10px;
}

/* The custom browse button */
#browse {
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
}

/* Hides the 'Choose file' file input button (so that you can have your own styled browse button)  */
#fileToUpload {
    display: none;
}