/* TimeSelector */
.timeSelector{
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
}
#timeSelectorMonthAndYear{
    width: 160px;
    text-align: center;
}
#timeSelectorMonth{
    margin-left: 10px;
    margin-right: 5px;
}
#timeSelectorYear{
    width: 50px;
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
}
.timeSelectorbutton{
    width: 20px;
}