<form name = "reg1" method = "post" action = "reg.php">
    Register<br>
    Username:
    <input name="reguser" type="text" id="reguser"><br>
    Password:
    <input name="regpwd" type="password" id="regpwd"><br>
    First Name:
    <input name="regfn" type="text" id="regfn"><br>
    Last Name:
    <input name="regln" type="text" id="regln"><br>
    Email:
    <input name="regemail" type="text" id="regemail"><br>
    Age:
    <input name="regage" type="text" id="regage"><br>
    <input name="OK" type="submit" value="OK">
    </form>