html{
  min-height:100%;
  text-align: center;
}

body{
  height:100%;
  background: url('Image/background.png') no-repeat top center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topButton{
  display:inline-block;
  margin:3%;
}

#tableemployee{
  background-color: #c3c3c3;
  display: inline-block;
}

#employeeTable{
  text-align:center;
  background-color: #c3c3c3;
  border-radius:25px;
}

#newEmployee{
  text-align: center;
}
#centralEmployeeNew{
  display: inline-block;
}
#createEmployeeWindow{
    display: none;
}

.rows {
  display:flex;
  justify-content: center;
  margin-top: 11%;
}

.employeeInfo {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
}

.groupNavigationBar {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

#groupButton {
  flex-grow: 1;
}

#groupButton:nth-of-type(odd)  {
  background-color: indianred;
}
#groupButton:nth-of-type(even) {
  background-color: cornflowerblue;
}