<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Admin interface</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='adminInterface.css'>
</head>
<body>
    <!-- <table id="groups">
        <table id="tableemployee">
            <th>Employee Name</th>
            <th>Status</th>
            <th>Work ID</th>
            <tbody id="employeeTable">
                <td> Bob Smith</td>
                <td> Active </td>
                <td> 1 </td>
            </tbody>
        </table>
    </table> -->
    <table id="tableemployee">
        <thead>
            <td>Name</td>
            <td>Status</td>
            <td>Work ID</td>
            <!-- <td>Group_id</td> -->
        </thead>
        <tbody id="employeeTable"> </tbody>
    </table>
</body>

<script src='./js/employeeManipulation.js'></script>
<script src='./js/build.js'></script>
<script src='./js/AJAX.js'></script>

</html>
